{% extends "base.html" %}

{% block content %}
<span>Create new user</span>
<div id="content">
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}

    <form enctype="multipart/form-data" method="post" action="{% url 'bbs:create_user' %}?next={{ next }}">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>

        <input type="submit" value="create"/>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
</div>
{% endblock %}