{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <span>Warning: unauthorised access detected</span>
<div id="content">
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'bbs:login' %}">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>

        <input type="submit" value="login"/>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'bbs:create_user' %}?next={{ next }}">Create new user</a></p>
{#    <p><a href="{% url 'password_reset' %}?next={{ next }}">Lost password?</a></p>#}
</div>
{% endblock %}