{% extends "base.html" %}

{% block title %}{{ runner.name }}{% endblock %}

{% block content %}
    <div id="content">
        <h1>{{ runner.name }}</h1>
        <h2>Attributes</h2>
        <table>
            <thead>
                <tr>
                    <th>Bod</th>
                    <th>Agi</th>
                    <th>Rea</th>
                    <th>Str</th>
                    <th>Wil</th>
                    <th>Log</th>
                    <th>Int</th>
                    <th>Cha</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ runner.bod }}</td>
                    <td>{{ runner.agi }}</td>
                    <td>{{ runner.rea }}</td>
                    <td>{{ runner.str }}</td>
                    <td>{{ runner.wil }}</td>
                    <td>{{ runner.log }}</td>
                    <td>{{ runner.int }}</td>
                    <td>{{ runner.cha }}</td>
                </tr>
            </tbody>
        </table>
        <h2>Limit</h2>
        <table>
            <thead>
                <tr>
                    <th>Physical</th>
                    <th>Mental</th>
                    <th>Social</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ runner.phys_limit }}</td>
                    <td>{{ runner.mental_limit }}</td>
                    <td>{{ runner.social_limit }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}