html {
    background-color: #1A1A1A;
    color: #DADADA;
    font-family: "DejaVu Sans Mono", monospace;
}

div#header {
    float: right;
}

div#content {
    margin-left: 5%;
}

a {
    color: #BADABA;
}

a:visited {
    color: #BADABA;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    vertical-align: middle;
    margin: 1em 1em 1em 0;
}

li span.avatar {
    display: inline-block;
    vertical-align: top;
}

li span.avatar img {
    height: 80px;
    width: 80px;
}

form table {
    margin: 1em 1em 1em 0;
    width: 90%;
}

form table th {
    vertical-align: top;
    width: 0;
    white-space: nowrap;
    text-align: right;
    padding-right: 0.5em;
}

form table span.helptext {
    color: #BADABA;
}

form table tr.error {
    color: red;
}

form table tr ul.errorlist {
    position: fixed;
    margin: 2em 0 0 2em;
    padding: 0;
    color: red;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}

form table td ul.errorlist li {
    margin: 0.2em;
    padding: 0;
}

form table tr:hover ul.errorlist {
    display: inline;
}

form input[type='submit'] {
    border-radius: 5px;
    border: 0;
    /*width: 80px;*/
    height:25px;
    font-family: "DejaVu Sans Mono", monospace;
    background: #DADADA;
    color: #1A1A1A;
    /* Old browsers */
    background: -moz-linear-gradient(top, #DADADA 1%, #BABABA 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #DADADA), color-stop(100%, #BABABA));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #DADADA 1%, #BABABA 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #DADADA 1%, #BABABA 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #DADADA 1%, #BABABA 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #DADADA 1%, #BABABA 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ededed', GradientType=0);
    /* IE6-9 */
}

form input[type='file'] {
    border-radius: 5px;
    border: 0;
    /*width: 80px;*/
    height:25px;
    font-family: "DejaVu Sans Mono", monospace;
    background: #DADADA;
    color: #1A1A1A;
    /* Old browsers */
    background: -moz-linear-gradient(top, #DADADA 1%, #BABABA 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #DADADA), color-stop(100%, #BABABA));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #DADADA 1%, #BABABA 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #DADADA 1%, #BABABA 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #DADADA 1%, #BABABA 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #DADADA 1%, #BABABA 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ededed', GradientType=0);
    /* IE6-9 */
}

form input[type='text'] {
    border-radius: 5px;
    border: 0;
    /*width: 80px;*/
    height:25px;
    width: 100%;
    font-family: "DejaVu Sans Mono", monospace;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: #DADADA;
    color: #1A1A1A;
    /* Old browsers */
    background: -moz-linear-gradient(top, #DADADA 1%, #BABABA 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #DADADA), color-stop(100%, #BABABA));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #DADADA 1%, #BABABA 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #DADADA 1%, #BABABA 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #DADADA 1%, #BABABA 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #DADADA 1%, #BABABA 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ededed', GradientType=0);
    /* IE6-9 */
}

form input[type='password'] {
    border-radius: 5px;
    border: 0;
    /*width: 80px;*/
    height:25px;
    width: 100%;
    font-family: "DejaVu Sans Mono", monospace;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: #DADADA;
    color: #1A1A1A;
    /* Old browsers */
    background: -moz-linear-gradient(top, #DADADA 1%, #BABABA 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #DADADA), color-stop(100%, #BABABA));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #DADADA 1%, #BABABA 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #DADADA 1%, #BABABA 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #DADADA 1%, #BABABA 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #DADADA 1%, #BABABA 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ededed', GradientType=0);
    /* IE6-9 */
}