{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "base.css" %}"/>
</head>
<body>

<div id="header">
{#    <a href="{% url 'bbs:logout' %}?next=/">logout</a>#}
</div>

{% block content %}{% endblock %}

</body>
</html>