{% extends "base.html" %}

{% block title %}Messages{% endblock %}

{% block content %}
    <span><a href="{% url 'bbs:threads' %}">back to threads</a></span>
    <div id="content">
        <h1>{{ thread.title }}</h1>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>
        <span class="avatar">
        {% if message.author.runner.avatar %}<img src="{{ message.author.runner.avatar.url }}"/>{% endif %}
        </span>
                        {#        <span class="message">#}
                        <strong>{{ message.pub_date }} [{{ message.author.username }}]:</strong>
                        {{ message.text }}
                        {#        </span>#}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No messages</p>
        {% endif %}
        <form action="{% url 'bbs:new_message' thread.id %}" method="post">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <input type="submit" value="New Message"/>
        </form>
    </div>
{% endblock %}