{% extends "base.html" %}

{% block title %}Threads{% endblock %}

{% block content %}
<span>Welcome: {{ user.username }}</span>

<div id="content">
    <h1>Threads</h1>

{% if threads %}
    <ul>
    {% for thread in threads %}
        <li>
        <span>
            <strong>{{ thread.pub_date }}:</strong>&nbsp;<a href="{% url 'bbs:messages' thread.id %}">{{ thread.title }}</a>
        </span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No threads</p>
{% endif %}
    <form action="{% url 'bbs:new_thread' %}" method="post">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="New Thread"/>
    </form>
</div>
{% endblock %}